body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  width: auto;
  gap: 20px;
}
.Card {
  width: 220px;
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
}
.top-card {
  height: 40px;
  background-color: rgb(187, 187, 187);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  height: 170px;
}
.image img {
  width: 100%;
  height: 100%;
}
.description {
  background-color: rgb(187, 187, 187);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 5px;
}
.content-top {
  width: 20px;
  height: 80%;
  display: flex;
}
.circle {
  width: 30px;
  border-radius: 100px;
  height: 90%;
  background-color: white;
}
.left {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.date {
  width: auto;

  font-size: 11px;
  display: flex;
  flex-direction: column;
}
span:last-child {
  color: white;
  font-size: 8px;
}
.right {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span img {
  width: 18px;
  height: 18px;
}
.social {
  height: 20px;
  display: flex;
  align-items: center;
}
.social-svg {
  width: 15px;
  height: 15px;
  padding-left: 10px;
}
.social-svg img {
  width: 100%;
  height: 100%;
}
.text {
  width: 100%;
  justify-content: center;
  display: flex;
}
.text span {
  font-size: 11px;
  color: black;
  padding: 10px;
  text-align: justify;

  height: 100%;
}
@media screen and ( max-width :768px){
    .container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2,1fr);
    }

}
@media screen and ( max-width :375px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
       
    }

}
